.flex-container{
    display: flex;
    margin: 40px 80px;
    flex-direction: column;
    border: 1px solid lightgray;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, .25);
}

.flex-items-top{
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid lightgray;
}

.flex-items-down{
    display: flex;
}

.checkout-title{
    margin-right: 10%;
    font-weight: bold;
    margin-left: 10px;
}

.processing-title{
    margin-right: auto;
}

.cross-button{
    background-color: black;
    color: white;
    margin-right: 10px;
    padding: 1px 3px;
}

.payment-block{
    width: 60%;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wallet-title{
    padding-top: 20px;
    padding-bottom: 5px;
    color: gray;
}

.wallet{
    display: flex;
    /* flex-wrap: wrap; */
    align-content: space-around;
    border-top: 1px solid lightgray;
    padding: 10px;
    margin-right: 10px;
}

.discover-network img{
    width: 180px;
    height: 120px;
    padding: 10px;
}

.master-card img{
    width: 190px;
    height: 125px;
    padding: 10px;
}

.visa-card img{
    width: 180px;
    height: 120px;
    padding: 10px;
}

.card-title{
    padding-bottom: 5px;
    color: gray;
}

.new-card{
    padding-top: 20px;
    border-top: 1px solid lightgray;
    padding: 10px;
    margin-right: 10px;
    padding-top: 20px;
}

.input-text-top input{
    margin: 5px;
    align-items: center;
    width: 50%;
    height: 30px;
    margin-left: 20%;
    border-color: #dfdede;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.new-card button{
    margin-top: 24px;
    width: 51%;
    padding: 15px;
    margin-left: 20%;
    background-color: #69C354;
    border: none;
    color: white;
}

.text-input{
    display: inline;
    margin-left: 20%;
}

.expiry-date-text{
    width: 24%;
    margin-top: 5px ;
    margin-right: 2px;
    height: 30px;
    border-color: #dfdede;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.cvv-text{
    width: 24%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.cart-block{
    display: flex;
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F7F7F7; 
    
}

.cart{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 95%;
}

.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 10px 150px 10px 0px ;
}

.product img{
    width: 50px;
    height: 50px;
    border: 6px solid #D6D6D6;
}

.product-name{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.name{
    width: 275px;
    font-weight: bold;
    color: #424242;
}
.product-price{
    padding-left: 35px;
    color: #424242;
    font-size: 12px;
    font-weight: bold;
}

.product-color{
    margin-top: 10px;
    font-size: 10px;
    font-style: italic;
    color: #424242;
}
.product-quantity{
    font-size: 10px;
    font-weight: bold;
    color: #424242;
}




.total{
    border-top: 1px solid lightgray;
    font-weight: bold;
    font-size: 15px;
    color: #424242;
    display: flex;
    margin-top: 10px;
    padding-top: 10px;
}
.sub-total{
    display: flex;
    color: #424242;
    font-size: 15px;
    margin-top: 10px;
    padding-top: 10px;
}
.shipping{
    display: flex;
    color: #424242;
    font-size: 15px;
    margin-top: 10px;
}
.taxes{
    display: flex;
    color: #424242;
    font-size: 15px;
    margin-top: 10px;
}
.total-heading{
    padding-right: 105px;
    width: 260px;
}
.taxes-heading{
    padding-right: 105px;
    width: 260px;
}
.shipping-heading{
    padding-right: 105px;
    width: 260px;
}
.sub-total-heading{
    padding-right: 105px;
    width: 260px;
}

